body {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
}

.Menu {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.Menu button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: none;
    transition: 0.2s
}

.Menu button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 5, 5);
    border: none;
    box-shadow: 0 3px rgb(194, 0, 0);
    transition: 0.2s
}

.Floor-1 {
    background-color: rgb(97, 97, 97);
}

.Floor-1 iframe {
    margin: 10px;
}